[Desktop Entry]
Version=1.0
Type=Application
Name=Jira
Comment=Jira desktop app built with Tauri
Exec=jira
Icon=jira
Terminal=false
Categories=Network;Development;ProjectManagement;
Keywords=Jira;Project;Task;Issue;Atlassian;
StartupNotify=true
