[Desktop Entry]
Version=1.0
Type=Application
Name=Jira Desktop
Comment=Jira desktop app built with Tauri
Exec=jira-unofficial-desktop
Icon=${SNAP}/share/icons/hicolor/128x128/apps/jira-unofficial-desktop.png
Terminal=false
Categories=Network;Development;ProjectManagement;
Keywords=Jira;Project;Task;Issue;Atlassian;
StartupNotify=true